
/* Your CSS Code here. */

button {
    background-color: black;
    color: rgb(118,118,118);
    border-radius: 5px;

}
button:hover {
    background-color: yellow;
    color: black;
    border-radius: 30px;
}